.checkout{
    display:flex;
    align-items: center;
}

h1{
    text-align: center;
}

.scan-quantity{
    display: flex;
    align-items: center;
}

.cart{
    display:flex;
    justify-content: space-around;
    
}

h2{
    text-align: center;
}

input{
    height:20px
}

*{
    border: 1px solid black ;
}

.list{
    display: flex;
    flex-direction: row;
    border: 1px sold red;
    justify-content: space-around;
    
}